/* hack to get around emacs always adding title to org mode export.. */
.content .title {
    display: none;
}

.tag {
    float: right;
}

.timestamp {
    font-family: monospace;
    font-size: small;
}
