<article>
    {% if draft %}
    <div>THIS IS A DRAFT! It will appear on the main page once finished!</div>
    {% endif %}
    <section id="post-title">
    <h1>
        {{ title }}
        {%- if in_graph %}
        <a
            href="/blog-graph.html#{{ upid }}"
            title="See this post within the blog graph, and how it's connected to other posts"
            style="font-size: 1rem;vertical-align: super;"
        >[see within blog graph]</a>
        {%- endif %}
    </h1>
    {% if summary %}<div class="summary">{{ summary }}</h2>{% endif %}
    </section>
    <!-- are sections appropriate for that? -->

    <section id="post-content">
    {{ body }}
    </section>

    {% if special %}
    {% else %}
    <section id="post-footer">
        <div class="post-tags">
            {%- for tag in tags %}
            <a
                class="post-tag {{ 'tag-active'   if tag.exists else 'tag-inactive' }}"
                href="/tags.html{{ '#' + tag.name if tag.exists else ''}}">#{{ tag.name }}</a>
            {%- endfor %}
        </div>
        {%- if comment %}
        TODO ugh. not sure if date should be mandatory or defensive?
        {%- endif     %}
        {%- if date %}
        <time datetime="{{ date.isoformat() }}">{{ date.strftime('%d %B %Y') }}</time>
        {%- endif %}
    </section>
    {% endif %}

    {% if pingback %}
    <section id="post-discussion">
    <br>
    <div>Discussion:</div>
    <ul>
    {%- for item in pingback %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
    </ul>
    {% endif %}

    <section id="post-comments">
    {% include "isso.html" %}
    </section>
</article>
