<!-- TODO hmm, main should have container class on it? -->
<div class="posts-list">

{% for item in posts %}
    <div class="post">
        <a href="{{ item.url }}" class="post-link">
            <div class="title">{% if item.draft %}🚧{% endif %} {{ item.title }}</div>
            {% if item.summary is not none%}<div class="summary">{{ item.summary }}</div>{% endif %}
        </a>

        <time datetime="{{ item.date.isoformat() }}">{{ item.date_human }}</time>

        <span class="post-tags">
            {% if comment %} space here is useful for tui browsers {% endif %}
            {% for tag in item.tags %}
            <a
                class="post-tag {{ 'tag-active'   if tag.exists else 'tag-inactive' }}"
                href="/tags.html{{ '#' + tag.name if tag.exists else ''}}">#{{ tag.name }}</a>
            {% endfor %}
        </span>
    </div>
{% endfor %}

</div>
