{% if style_ipynb %}
<link rel="stylesheet" href="/css/ipynb.css" />
<link rel="stylesheet" href="/css/ipynb-syntax.css" />
{% endif %}
{% if style_org %}
<!-- <link rel="stylesheet" href="/css/org.css" /> -->
{% if comment %}
TODO hmm only add htmlize on demand?
TODO shit, htmlize messes with a and body tags...
{% endif %}
<link rel="stylesheet" href="/css/htmlize.css" />
<link rel="stylesheet" href="/css/org-default.css" />

<link rel="stylesheet" href="/css/org-extra.css?v=3" />
{% endif %}
{% if style_md %}
{% endif %}

<article>
    {% if draft %}
    <div>THIS IS A DRAFT! It will appear on the main page once finished!</div>
    {% endif %}
    <section class="post-title">
    <h1>
        {{ title }}
        <a
            href="/blog-graph.html#{{ upid }}"
            title="See this post within the blog graph, and how it's connected to other posts"
            style="font-size: 1rem;vertical-align: super;"
        >[see within blog graph]</a>
    </h1>
    {% if summary %}<div class="summary">{{ summary }}</h2>{% endif %}
    </section>
    <!-- are sections appropriate for that? -->

    <section class="content">
    {{ body }}
    </section>

    {% if type_special %}
    {% else %}
    <section class="footer">
        <div class="post-tags">
            {%- for tag in tags %}
            <a
                class="post-tag {{ 'tag-active'   if tag.exists else 'tag-inactive' }}"
                href="/tags.html{{ '#' + tag.name if tag.exists else ''}}">#{{ tag.name }}</a>
            {%- endfor %}
        </div>
        {% if comment %}
        TODO ugh. not sure if date should be mandatory or defensive?
        {% endif      %}
        {%- if date %}
        <time datetime="{{ date.isoformat() }}">{{ date.strftime('%d %B %Y') }}</time>
        {%- endif %}
    </section>
    {% endif %}

    {% if pingback %}
    <br>
    <div>Discussion:</div>
    <ul>
    {%- for item in pingback %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endfor %}
    </ul>
    {% endif %}

    <section class="comments">
    {% include "isso.html" %}
    </section>

</article>
