<div id="disqus_thread"></div>
<script>

 // TODO uh, think carefully about these..
 // TODO only show on post pages
 // generally make it look simpler

 var disqus_config = function () {
     // TODO not sure if it's necessary if we have identifier
     // https://help.disqus.com/developer/javascript-configuration-variables 
     // In addition, this URL is always saved when a thread is being created so that Disqus knows what page a thread belongs to.
     this.page.url = 'https://test.karlicoss.xyz/$disqusid$';
     this.page.identifier = '$disqusid$';
     console.log(this.page.url);
     console.log(this.page.identifier);
     // TODO how to choose it???
     // TODO presumably I'm not posting that often, so it's ok to have static map of names?
     // TODO need to make sure titles map into different identifiers
 };

 (function() { // DON'T EDIT BELOW THIS LINE
     var d = document, s = d.createElement('script');
     s.src = 'https://karlicoss.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
