<!-- TODO hmm, main should have container class on it? -->
<div class="posts-list">

$for(posts)$
    <div class="post">
        <a href="$url$" class="post-link">
            <div class="title">$if(draft)$🚧$endif$ $title$</div>
            $if(summary)$<div class="summary">$summary$</div>$endif$
        </a>

        $if(comment)$ TODO add machine readable datetime $endif$
        $if(comment)$ TODO don't need "date" class; just use time tag? $endif$
        <time class="date">$date$</time>

        <span class="post-tags">
            $if(comment)$ space here is useful for tui browsers $endif$
            $for(tags)$ <a class="post-tag" href="/tags.html#$body$">#$body$</a>$endfor$
        </span>
    </div>
$endfor$

</div>
