<table class="posts-list">
    $for(posts)$

    <tr class="post">
        <td rowspan="2" width="70%">
        <a href="$url$">
            <div class="title">$if(draft)$🚧$endif$$title$$if(draft)$🚧$endif$</div>
            <div class="summary">$if(summary)$ $summary$ $endif$</div>
        </a>
        </td>
        <td class="date">$date$</td>
    </tr>
    <!-- TODO careful with colspan -->
    <tr>
        <td class="post-tags">$for(tags)$<a class="post-tag" href="/tags.html#$body$">$body$</a>$sep$ $endfor$</td>
    </tr>

    $endfor$

</table>
