<table class="posts-list">
    $for(posts)$
    <tr class="sep">
        <td colspan="2"></td>
    </tr>

    <tr class="post">
        <td class="title"><a href="$url$">$title$</a></td>
        <td class="date">$date$</td>
    </tr>

    $if(summary)$
    <tr>
        <td colspan="2" class="summary">
            $summary$
        </td>
    </tr>
    $endif$

    $if(tags)$
    <tr>
        <td colspan="2" class="tags">
            # $tags$
        </td>
    </tr>
    $endif$

    $endfor$
</table>
