/* meh  */

/* latin-ext */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXo-oBOL.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-oA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-family: "Source Serif Pro", serif;
}

:root {
    --content-max-width: 1200px;
}


h1, h2 {
    padding: 0;
    margin:  0;
    font-weight: normal;
}

/* Right, it's pretty annoying, mdbook outputs everything linearly*/
/* e.g. <h2>, <p>, <ol> <h3> are all sharing same level in the hierarchy*/
/* I'm gonna need some beautifulsoup to fixe that..
 */

/* TODO share style with blog?? */
.timestamp {
    color: grey;
    font-family: monospace;
    font-size: medium;

    /* TODO not sure about block display... */
    /* display: block; */
}



.tag {
    background-color: #eee;
    font-family: monospace;
    padding: 2px;
    font-size: 80%;
    font-weight: normal;
}


.state {
    display: inline-block;
    width: 6ch;
    font-family: monospace;
}

.todo {
    color: red;
}

.done {
    color: green;
}

.cancel {
    color: purple;
}
