h1, h2 {
    padding: 0;
    margin:  0;
    font-weight: normal;
}

:root {
    --content-max-width: 1200px;
}

/* TODO share style with blog?? */
.timestamp {
    color: grey;
    font-family: monospace;
    font-size: medium;

    /* TODO not sure about block display... */
    /* display: block; */
}
