## main deps
pytz
more_itertools
Jinja2
ruamel.yaml # for metadata
beautifulsoup4 # patching output
html5lib # ???
feedgen # generate RSS/atom
logzero # nicer logs
mypy
click # nicer clis
##

## org-mode
orgparse
##

## ipynb
notebook # jupyter
nbconvert==5.6.1 # meh. see https://github.com/jupyter/nbgrader/issues/1306#issuecomment-706296789
##


# TODO used in sandbox or something??
git+https://github.com/karlicoss/porg
